* {
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  
   
  .demo-image {
    cursor: url("/static/img/plus_cursor.png") 25 25, auto;
    /*display: inline-block;*/
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: 25% 25%;
      }
    
    
 