<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Request Plan with your requirements</h1>
    <form action="/bplanaction/">
    <table align="center" border="2">
     <tr><td>Plot Area</td>
        <td><input type="text" placeholder="In Cents" name="area"></td>
     </tr>
     <tr><td>Plot length</td>
         <td><input type="test" placeholder="In Meter"name="len"></td>
     </tr>
     <tr><td>Plot Width</td>
        <td><input type="test" placeholder="In Meter"name="wid"></td>
    </tr>
     <tr><td>No of Floors</td>
         <td><select name="floor">
             <option value="select">Select No of floors</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
         </select>
        </td>
     </tr>
     <tr><td>No of Bed Rooms</td>
        <td><select name="room">
            <option value="select">Select No of Bed Rooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
       </td>
     </tr>
     <tr><td>No of Bathrooms</td>
        <td><select name="brooms">
            <option value="select">Select No of bathrooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
       </td>
     </tr>
     <tr><td>Kitchens</td>
        <td><select name="kit">
            <option value="select">Select No of kitchens</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
       </td>
     </tr>
     <tr><td>Dining Rooms</td>
        <td><select name="drooms">
            <option value="select">Select No of bedrooms</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="1">4</option>
            <option value="2">5</option>
            <option value="3">6</option>
        </select>
       </td>
     </tr>
     <tr><td>Store Rooms</td>
        <td><select name="srooms">
            <option value="select">Select No of store rooms</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
       </td>
     </tr>
     <tr><td>living Rooms</td>
        <td><select name="lrooms">
            <option value="select">Select No of living rooms</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
       </td>
     </tr>
     <tr><td>sitout</td>
        <td><select name="sitout">
            <option value="select">Select No of sitouts</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
       </td>
     </tr>
     <tr><td>Other Rooms</td>
        <td><select name="orooms">
            <option value="select">otherrooms</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="1">4</option>
            <option value="2">5</option>
            <option value="3">6</option>
        </select>
       </td>
     </tr>
    <tr><td>Other Details</td>
        <td><textarea name="odetails"></textarea></td>
    </tr> 
    <tr><td colspan="2" align="center">
        <input type="submit" value="Request Plan">
        </td></tr>
    </table>
    </form>
</body>
</html>